{% extends 'new_base.html' %}
{% load static %}
{% load remove_dot %}


{% block title %}
    Approved Payroll Logs
{% endblock title %}
    

{% block content %}
    <!-- Main section-->
<section class="section-container">
    <!-- Page content-->
    <div class="content-wrapper">
       <div class="content-heading">
          <div>Payroll Approved Logs<small>Below table contains data of all those employees who have approved their payroll in last 3 days.</small></div>
       </div>
       <!-- DATATABLE DEMO 1-->
       <div class="card" style="width:max-content;">
          <div class="card-header">
             <div class="card-title">Payroll Approved Logs</div>
             <div class="text-sm"></div>
          </div>
          <div class="card-body" style="width: fit-content;">
             
             <div class="table bootgrid">
                <!-- custom table from the previous project -->
             <table class="table table-bordered table-hover" id="bootgrid-command" style="color: black;">
                <thead>
                   <tr role="row" style="background-color: rgba(0, 183, 255, 0.15);word-wrap: normal;">
                       <th rowspan="2" colspan="1" style="text-align: center;width: max-content;" >Payroll Generated Date
                       </th>
                       <th rowspan="2" colspan="1" style="text-align: center;" >Agent Name
                       </th>
                       <th rowspan="2"
                           colspan="1" style="text-align: center;" >Agent Approved On
                       </th>
                   </tr>
                   </thead>
                   <tbody>
                   <!--
                       For Performance Reasons Content will be served to data tables as JSON
                   -->
                   {% for item in approved_disputes_by_agents %}
                   <tr>
                       <td style="width: max-content;">{{item.dispute_date}}</td>
                       <td>{{item.employee|remove_dot}}</td>
                       <td>{{item.created_at}}</td>
                   </tr>
 
                   {% endfor %}
                   <tr class="odd">
                       <td valign="top" colspan="9" class="dataTables_empty"></td>
                   </tr>
                   </tbody>
             </table>
 
             {% if approved_disputes_by_agents.has_other_pages %}
             <ul class="pagination">
                 {% if approved_disputes_by_agents.has_previous %}
                 <li class="page-item">
                   <a class="page-link" href="?page=1" aria-label="Previous">
                     <span aria-hidden="true">&laquo;</span>
                     <span class="sr-only">begin</span>
                   </a>
                 </li>   {% endif %}
                 
                 {% for n in approved_disputes_by_agents.paginator.page_range %}
                   {% if approved_disputes_by_agents.number == n %}
                     <li class="page-item active">
                       <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                     </li>
                   {% elif n > approved_disputes_by_agents.number|add:'-3' and n < approved_disputes_by_agents.number|add:'3' %}
                     <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                   {% endif %}
                 {% endfor %}
                 
                 {% if approved_disputes_by_agents.has_next %}
                   <li class="page-item">
                     <a class="page-link" href="?page={{ approved_disputes_by_agents.paginator.num_pages }}" aria-label="Next">
                       <span aria-hidden="true">&raquo;</span>
                       <span class="sr-only">end</span>
                     </a>
                   </li>
                   {% endif %}
             </ul>
          {% endif %}
             </div>
             
          
          </div>
       </div>
       
    </div>
 </section>
{% endblock content %}
    