{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ request.user.loginId }} | {{title}}
{% endblock title %}

{% block content %}
<main class=" container-fluid px-2">

    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row justify-content-center">

                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Change Password!</h4>
                        </div>
                        <form action="" method="post" class="user">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input class="form-control form-control-user" type="password" id="currentPassword"
                                           aria-describedby="currentPasswordHelp" placeholder="Current Password"
                                           name="currentPassword" required>
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control form-control-user" type="password" id="new_password1"
                                           aria-describedby="new_password1Help" placeholder="New Password"
                                           name="new_password1" minlength="6" required>
                                </div>
                            </div>
                            <div class="form-group">
                                    <input class="form-control form-control-user" type="password" id="new_password2"
                                           aria-describedby="new_password2Help" placeholder="Confirm Password"
                                           name="new_password2" minlength="6" required>
                            </div>
                            <button class="btn btn-primary btn-block text-white btn-user"
                                    type="submit">Confirm
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="below-main-container"></div>
</main>
{% endblock content %}
