{% extends 'new_base.html' %}
{% load remove_dot %}

{% block title %}
{{title}}
{% endblock title %}



{% block content %}
<style>
    .modal-backdrop {
        /* bug fix - no overlay */
        display: none;
    }
</style>
<!-- Main section-->
<section class="section-container">
    <!-- Page content-->
    <div class="content-wrapper">
        <div class="content-heading">
            <div>Agent Password & Supervisor's<small>Change password or supervisor's of agents as per request.</small></div>
        </div>
        <!-- DATATABLE DEMO 1-->
        <div class="card  shadow py-2 my-2" style="width: fit-content;">
            
            <div class="card-body" style="width: auto;">
                <div class="card">
                    <div class="card-header">Agents</div><!-- START table-responsive-->
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="table-ext-1">
                            <thead class="text-center">
                                <tr>
                                    <th>Deluxe Code</th>
                                    <th>Zipwire</th>
                                    <th>Name</th>
                                    <th>LOB</th>
                                    <th>Supervisor</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {% for it in resp %}
                                <tr>
                                    <td>{{ it.deluxCode|default:'N/A' }}</td>
                                    <td>{{ it.loginId|default:'N/A' }}</td>
                                    <td>{{ it.getName|default:'N/A' }}</td>
                                    <td>{{ it.getLob|default:'N/A' }}</td>
                                    <td>{{ it.getSupervisorName|default:'N/A' }}</td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-link" data-toggle="modal"
                                            data-target="#changePassword{{it.pk}}">
                                            <i class="far fa-edit fa-2x"></i>Password Reset
                                        </button>
                                        <!-- Modal for change password -->
                                        <div class="modal fade" id="changePassword{{it.pk}}" data-backdrop="static"
                                            data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header" style="background-color: #402543;">
                                                        <h5 class="modal-title" id="staticBackdropLabel" style="color: white;">Reset Password
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body px-2 pt-2">
                                                        <form action="" method="post" id="form{{it.pk}}">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="pk" value="{{it.pk}}">
                                                            <div class="form-group">
                                                                <input type="password" name="password" id="password{{it.pk}}"
                                                                    class="form-control" placeholder="New Password"
                                                                    required>

                                                            </div>
                                                            <div class="form-group">
                                                                <input type="password" name="password_reset"
                                                                    id="password_reset{{it.pk}}" class="form-control"
                                                                    placeholder="Repeat New Password" required>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                        <button type="submit" form="form{{it.pk}}"
                                                            class="btn btn-primary">Change Password</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        |
                                        <button type="button" class="btn btn-link" data-toggle="modal"
                                            data-target="#changeSuperviosr{{it.pk}}">
                                            <i class="fas fa-user-edit fa-2x"></i>Change LOB/Supervisor
                                        </button>
                                        <!-- Modal for change Supervisor and LOB -->
                                        <div class="modal fade" id="changeSuperviosr{{it.pk}}" data-backdrop="static"
                                            data-keyboard="false" tabindex="-1" aria-labelledby="changeSuperviosrLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header" style="background-color: #402543;">
                                                        <h5 class="modal-title" id="changeSuperviosrLabel{{it.pk}}" style="color: white;">Supervisor &
                                                            LOB Change</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    <div class="modal-body px-2 pt-2">
                                                        <form action=" {% url 'core:change_supervisor_lob' %}"
                                                            method="post" id="changeSupervisorForm{{it.pk}}">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="zipwire" value="{{it.loginId}}">
                                                            <div class="form-group">
                                                                <select name="lob" id="lob{{it.pk}}" class="form-control"
                                                                    required>
                                                                    <option value="None" selected>Choose Group...
                                                                    </option>
                                                                    {% for item in groups %}
                                                                    <option value="{{item.lob}}">{{item.lob}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <select name="supervisor" id="supervisor{{it.pk}}"
                                                                    class="form-control" required>
                                                                    <option value="None" selected>Choose Supervisor...
                                                                    </option>
                                                                    {% for item in supervisors %}
                                                                    <option value="{{item.loginId|remove_dot}}">
                                                                        {{item.loginId|remove_dot}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                        <button type="submit" form="changeSupervisorForm{{it.pk}}"
                                                            class="btn btn-primary">Change Supervisor</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        
                    </div><!-- END table-responsive-->
                    <div class="card-footer">
                    </div>
                </div>
                {% if res.has_other_pages %}
                <ul class="pagination">
                    {% if res.has_previous %}
                    <li class="paginate_button page-item"><a class="page-link"
                            href="?page={{ res.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in res.paginator.page_range %}
                    {% if res.number == i %}
                    <li class="paginate_button page-item active"><span class="page-link">{{ i }} <span
                                class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li class="paginate_button page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if res.has_next %}
                    <li class="paginate_button page-item"><a class="page-link"
                            href="?page={{ res.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="paginate_button page-item disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}

            </div>
        </div>

    </div>
</section>
{% endblock content %}