{% extends 'new_base.html' %}
{% load static %}
{% block title %}
Welcome {{ request.user.loginId }}
{% endblock title %}

{% block content %}
<main class=" container-fluid px-2">
  <div class="card shadow py-2 my-2">
    <div class="card-header">Agents</div><!-- START table-responsive-->
    <div class="table-responsive">
      <table class="table table-bordered table-hover" id="table-ext-1">
        <thead class="text-center">
          <tr>
            <th>Deluxe Code</th>
            <th>Zipwire</th>
            <th>Name</th>
            <th>LOB</th>
            <th>Supervisor</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for it in resp %}
          <tr>
            <td>{{ it.deluxCode|default:'N/A' }}</td>
            <td>{{ it.loginId|default:'N/A' }}</td>
            <td>{{ it.getName|default:'N/A' }}</td>
            <td>{{ it.getLob|default:'N/A' }}</td>
            <td>{{ it.getSupervisorName|default:'N/A' }}</td>
            <td>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#changePassword{{it.pk}}"
                style="background-color: rgb(56, 194, 116);">
                <i class="far fa-edit"></i>
              </button>
              <!-- Modal for change password -->
              <div class="modal fade" id="changePassword{{it.pk}}" data-backdrop="static" data-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Reset Password</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body px-2 pt-2">
                      <form action="" method="post" id="form{{it.pk}}">
                        {% csrf_token %}
                        <input type="hidden" name="pk" value="{{it.pk}}">
                        <div class="form-group">
                          <input type="password" name="password" id="password" class="form-control"
                            placeholder="New Password" required>

                        </div>
                        <div class="form-group">
                          <input type="password" name="password_reset" id="password_reset" class="form-control"
                            placeholder="Repeat New Password" required>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" form="form{{it.pk}}" class="btn btn-primary">Change Password</button>
                    </div>
                  </div>
                </div>
              </div>
              |
              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#changeSuperviosr{{it.pk}}">
                Change LOB/Supervisor
              </button>
              <!-- Modal for change Supervisor and LOB -->
              <div class="modal fade" id="changeSuperviosr{{it.pk}}" data-backdrop="static" data-keyboard="false"
                tabindex="-1" aria-labelledby="changeSuperviosrLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header" style="background-color:rgb(68,194,233);">
                      <h5 class="modal-title" id="changeSuperviosrLabel">Supervisor & LOB Change</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body px-2 pt-2">
                      <form action=" {% url 'core:change_supervisor_lob' %}" method="post"
                        id="changeSupervisorForm{{it.pk}}">
                        {% csrf_token %}
                        <input type="hidden" name="zipwire" value="{{it.loginId}}">
                        <div class="form-group">
                          <select name="lob" id="lob" class="form-control" required>
                            <option value="None" selected>Choose Group...</option>
                            {% for item in groups %}
                            <option value="{{item.lob}}">{{item.lob}}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="form-group">
                          <select name="supervisor" id="supervisor" class="form-control" required>
                            <option value="None" selected>Choose Supervisor...</option>
                            {% for item in supervisors %}
                            <option value="{{item.supervisor}}">{{item.supervisor}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </form>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" form="changeSupervisorForm{{it.pk}}" class="btn btn-primary">Change
                        Supervisor</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div><!-- END table-responsive-->
  </div>
</main>

{% endblock content %}